{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OpenStreetMap with Circle Input</title>

 
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>

  
  <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
</head>
<body>

  
  <form id="circleForm">
      <label for="latitude">Latitude(user input):</label>
      <input type="number" id="latitude" step="any" required>

      <label for="longitude">Longitude(user input):</label>
      <input type="number" id="longitude" step="any" required>

      <label for="radius">Radius (user input in meters):</label>
      <input type="number" id="radius" required>

      <button type="submit">Create Circle</button>
  </form>

  <div id="map"></div>

  
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
          integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

  
  <script src="{% static 'myapp/js/map.js' %}"></script>

</body>
</html>
